<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conrad_1</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        /* CSS styles can be added here */
        body {
            font-family: system-ui;
            margin: 30px;
            padding: 0;
        }
        /* Add more styles as needed */
    </style>
</head>
<body>
    <h2>Welcome, Poot</h2>

    <div style="width: 100%;">
        <div style="width: 25%; height: 100px; float: left"> 
            <h3>My Requests</h3> 
            <div style="background: #ffbaba; margin: 6px; height: 50px;">
                A English - 11/Fa - Gothic Tra...‎ ‎ ‎‎ ‎ X
                <br>
                Mr. Desiderio
            </div>
            <div style="background: #ffe0ba; margin: 6px; height: 50px;">
                B French - Adv. 4 ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎+
                <br>
                Mr. Desiderio
            </div>
            <div style="background: #ffefba; margin: 6px; height: 50px;">
                C CS: Adv. 2/Sp.‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎ ‎+
                <br>
                Mr. Gohde
            </div>
        </div>
        <div style="width: 25%; margin-left: 50%; height: 100px;"> 
            <h3>Current Schedule</h3>
            <select class="form-select" aria-label="Select bruh">
                <option selected>Select Semester</option>
                <option value="1">Fall</option>
                <option value="2">Spring</option>
              </select>
            <div style="background: #ffbaba; margin: 6px; height: 50px;">
                A English: 11/Fa — Celebrity…
                <br>
                Dr. Matuozzi
            </div>
            <div style="background: #ffe0ba; margin: 6px; height: 50px;">
                B Math: IM3 Honors
                <br>
                Mr. Pookie Bear
            </div>
            <div style="background: #ffefba; margin: 6px; height: 50px;">
                C CS: Adv. 1/Fa.
                <br>
                Mr. Gohde
            </div>
            <div style="background: #bbffba; margin: 6px; height: 50px;">
                D Latin: V — Death & Dying/Fa
                <br>
                Ms. Miller
            </div>
            <div style="background: #badcff; margin: 6px; height: 50px;">
                F French: Adv. 4
                <br>
                Mme. Lang
            </div>
            <div style="background: #d3baff; margin: 6px; height: 50px;">
                G History: American History
                <br>
                Dr. Hull
            </div>

        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>Graduation Requirements</h3>
    <h5>English: 8 Semesters <span style="color:rgb(203, 157, 19)">- In Progress</span></h5>
    <h5>History: 6 Semesters <span style="color:rgb(203, 157, 19)">- In Progress</span></h5>
    <h5>Math: 6 Semesters (8 Recomended) <span style="color:rgb(203, 157, 19)">- In Progress</span></h5>
    <h5>Language: 6 Semesters <span style="color:rgb(203, 157, 19)">- In Progress</span></h5>
    <h5>Science: 4 Semesters (8 Recomended) <span style="color:red">- Unfulfilled X</span></h5>
    <h5>Art: 3 Semesters  <span style="color:red">- Unfulfilled X</span></h5>
    <h5>RPE: 1 Semesters  <span style="color:red">- Unfulfilled X</span></h5>

</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>


