<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uma</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->

    <style>
       body {
           background-color: "blue";
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css"> 

</head>
<body>
    <h2>Welcome, Poot</h2>

    <!-- BOOTSTRAP GRID 1 -->
    <div class="container" style="margin-left: -10px;">
      <div class="row row-cols-auto">
        <!-- SUBJECT DD 1.1 -->
        <div class="col"> 

          <select class="form-select" aria-label="Default select example">
            <option selected>Subject</option>
            <option value="1">English</option>
            <option value="2">History</option>
            <option value="3">Math</option>
            <option value="4">Modern Language</option>
            <option value="5">Classics</option>
            <option value="6">Computer Science</option>
            <option value="7">Visual Arts</option>
            <option value="8">Performing Arts</option>
            <option value="9">Religion, Philosophy, Ethics</option>
          </select>

        </div>
        <!-- SUBJECT DD 1.1 ^^^ -->
        <!-- GRADE DD 1.2 -->
        <div class="col">

          
          <select class="form-select" aria-label="Default select example">
            <option selected>Grade</option>
            <option value="1">9</option>
            <option value="2">10</option>
            <option value="3">11</option>
            <option value="4">12</option>

          </select>

        </div>
        <!-- GRADE DD 1.2 ^^^ -->
        <!-- PERIOD DD 1.3 -->
        <div class="col">
          
          <select class="form-select" aria-label="Default select example">
            <option selected>Period</option>
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
            <option value="4">D</option>
            <option value="5">E</option>
            <option value="6">F</option>
            <option value="7">G</option>
            
          </select>

        </div>
        <!-- PERIOD DD 1.3  ^^^-->
        <!-- AVAILABILITY DD 1.4 -->
        <div class="col">
          
          <select class="form-select" aria-label="Default select example">
            <option selected>Availability</option>
            <option value="1">Free</option>
            <option value="2">Full</option>
          </select>
        <!-- AVAILABILITY DD 1.4  ^^^-->
        </div>
      </div>
    </div>
  <!-- BOOTSTRAP GRID (1) -->

  <BR></BR>
   
  <!-- BOOTSTRAP GRID (0)  -->
  <div class="container" style="margin-left: 42px;">
    <div class="row row-cols-4">
      <div class="col">

        <!-- DONHAUSER USH (0.1)-->
    <div class="card border-info mb-3" style="width: 20rem;">
      <div class="card-body text-info">
        <h5 class="card-title text-center" style="color:#0dcaf0;">FREE (12)</h5>

        <h5 class="card-title text-center" style="color:#000000;">American History • Mr. Donhauser</h5>
        <p class="card-text" style="color:#000000;">class description class description class description class description class description class description class description class description class description class description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">History</li>
        <li class="list-group-item text-center">11</li>
        <li class="list-group-item text-center">C block</li>
        <li class="list-group-item text-center">REQUIRED</li>

      </ul>
      <div class="card-body text-info">
        <span class="card-text" style="color:#0dcaf0; float: left;">ADDS</span>
        <span class="card-text" style="color:#0dcaf0; float: right;">DROPS</span>


        <div class="input-group mb-3">
          <span class="input-group-text text-end" style="float: right;">1</span>
          <button class="btn btn-info" type="button" id="button-addon2" style="float: right;">⏶</button>
          <span class="input-group-text" style="float: left; margin-left: 150px;">5</span>
          <button class="btn btn-info" type="button" id="button-addon2" >⏶</button>
        </div>
      </div>
    </div> 
    <!-- DONHAUSER USH (0.1) -->

      </div>
      <div class="col">

        <!-- DONHAUSER ART  0.2-->
    <div class="card border-info mb-3" style="width: 20rem;">
      <div class="card-body text-info">
        <h5 class="card-title text-center" style="color:#0dcaf0;">FREE (9)</h5>

        <h5 class="card-title text-center" style="color:#000000;">Art History • Mr. Donhauser</h5>
        <br>
        <p class="card-text" style="color:#000000;">class description class description class description class description class description class description class description class description class description class description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">History</li>
        <li class="list-group-item text-center">11, 12</li>
        <li class="list-group-item text-center">D block</li>
        <li class="list-group-item text-center">Not Required</li>

      </ul>
      <div class="card-body text-info">
        <span class="card-text" style="color:#0dcaf0; float: left;">ADDS</span>
        <span class="card-text" style="color:#0dcaf0; float: right;">DROPS</span>


        <div class="input-group mb-3">
          <span class="input-group-text text-end" style="float: right;">2</span>
          <button class="btn btn-info" type="button" id="button-addon2" style="float: right;">⏶</button>
          <span class="input-group-text" style="float: left; margin-left: 150px;">1</span>
          <button class="btn btn-info" type="button" id="button-addon2" >⏶</button>
        </div>
      </div>
    </div> 
    <!-- DONHAUSER ART 0.2 -->


      </div>
      <div class="col">


        <!-- DONHAUSER GOTH 0.3-->
    <div class="card border-info mb-3" style="width: 20rem;">
      <div class="card-body text-info">
        <h5 class="card-title text-center" style="color:#0dcaf0;">FULL (18)</h5>

        <h5 class="card-title text-center" style="color:#000000;">Understanding Gotham • Mr. Donhauser</h5>
        <p class="card-text" style="color:#000000;">class description class description class description class description class description class description class description class description class description class description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">History</li>
        <li class="list-group-item text-center">11, 12</li>
        <li class="list-group-item text-center">F block</li>
        <li class="list-group-item text-center">Not Required</li>

      </ul>
      <div class="card-body text-info">
        <span class="card-text" style="color:#0dcaf0; float: left;">ADDS</span>
        <span class="card-text" style="color:#0dcaf0; float: right;">DROPS</span>


        <div class="input-group mb-3">
          <span class="input-group-text text-end" style="float: right;">3</span>
          <button class="btn btn-info" type="button" id="button-addon2" style="float: right;">⏶</button>
          <span class="input-group-text" style="float: left; margin-left: 148px;">2</span>
          <button class="btn btn-info" type="button" id="button-addon2" >⏶</button>
        </div>
      </div>
    </div> 
    <!-- DONHAUSER GOTHAM 0.3 -->

        
      </div>
      <div class="col">

        <!-- DONHAUSER USH MM 0.4-->
    <div class="card border-info mb-3" style="width: 20rem;">
      <div class="card-body text-info">
        <h5 class="card-title text-center" style="color:#0dcaf0;">FULL (17)</h5>

        <h5 class="card-title text-center" style="color:#000000;">Modern Media • Mr. Donhauser</h5>
        <br>
        <p class="card-text" style="color:#000000;">class description class description class description class description class description class description class description class description class description class description</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-center">History</li>
        <li class="list-group-item text-center">10, 11, 12</li>
        <li class="list-group-item text-center">E block</li>
        <li class="list-group-item text-center">Not Required</li>

      </ul>
      <div class="card-body text-info">
        <span class="card-text" style="color:#0dcaf0; float: left;">ADDS</span>
        <span class="card-text" style="color:#0dcaf0; float: right;">DROPS</span>


        <div class="input-group mb-3">
          <span class="input-group-text text-end" style="float: right;">2</span>
          <button class="btn btn-info" type="button" id="button-addon2" style="float: right;">⏶</button>
          <span class="input-group-text" style="float: left; margin-left: 148px;">0</span>
          <button class="btn btn-info" type="button" id="button-addon2" >⏶</button>
        </div>
      </div>
    </div> 
    <!-- DONHAUSER USH -->



      </div>
    </div>
  </div>
  <!-- BOOTSTRAP GRID -->
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   -->
</body>

</html>


