<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>uma</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->

   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css"> 

</head>
<body>
    <h2>Welcome, Poot</h2>

    <br>
    <div class="container">
      <p>Upload schedule here, or enter below:</p>
      <div class="row">

        <div class="col-sm">
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02">
            <label class="input-group-text" for="inputGroupFile02">Upload</label>
          </div>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
      </div>
    </div>

    
    
    <!-- BOOTSTRAP GRID 2 -->
    <div class="row" style="margin-left: 0px; margin-right: 0px;">
      <div class="col-6">
        
        <!-- FULL GRAD ENTRY CARD  -->
        <div class="container" style="margin-left: 50%;"> 
          <div class="row row-cols-4">
            <div class="col">
              <div class="card border-info mb-3" style="width: 20rem;">
                <div class="card-body text-info">
                  <h5 class="card-title text-center" style="color:#0dcaf0;">Enter Your Proposed Schedule:</h5>
                  <h5 class="card-title text-center" style="color:#000000;">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Grade</span>
                    <select class="form-select" aria-label="Default select example">
                      <option value = "0" selected> </option>
                      <option value="1">9</option>
                      <option value="2">10</option>
                      <option value="3">11</option>
                      <option value="4">12</option>
                    </select>
                  </div>
                  </h5>
                </div>
                <ul class="list-group list-group-flush">
                <!-- ENGLISH SELECT GRID 2 -->
                  <li class="list-group-item text-center" style="margin-bottom: 0px;"> 
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">English</span>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option value = "0" selected> </option>
                      <option value="1">Literature of Celebrity/Fa</option>
                      <option value="2">Poetry Workshop/Sp</option>
                      <option value="3">Cultural Criticisms/Sp</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">History</span>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option value = "0" selected> </option>
                      <option value="1">Understanding Gotham/Fa</option>
                      <option value="2">Art History/Sp</option>
                      <option value="3">Modern Media/Fa</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Math</span>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option value = "0" selected> </option>
                      <option value="1">Integrated Math 4 Calculus AB</option>
                      <option value="2">Integrated Math 4 Honors Calculus BC</option>
                      <option value="3">Integrated Math 4</option>
                      <option value="4">Statistics</option>
                      <option value="5">Senior Seminar</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Science</span>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option value = "0" selected> </option>
                      <option value="1">Adv. Physics</option>
                      <option value="2">Adv. Chemistry</option>
                      <option value="3">Psychology</option>
                      <option value="4">Environmental Science</option>
                    </select>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Language</span>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                      <option value = "0" selected> </option>
                      <option value="1">French I</option>
                      <option value="2">French II</option>
                      <option value="3">etc.</option>
                    </select>
                  </div>
                  <div>
                    <div class="input-group mb-3">
                      <select class="form-select" aria-label="Default select example">
                        <option value = "0" selected> </option>
                        <option value="1">Orchestra</option>
                        <option value="2">Ceramics</option>
                        <option value="3">Computer Science</option>
                        <option value="4">etc.</option>
                      </select>
                    </div>
                  <div class="input-group mb-3">
                    <select class="form-select" aria-label="Default select example">
                      <option value = "0" selected> </option>
                      <option value="1">Orchestra</option>
                      <option value="2">Ceramics</option>
                      <option value="3">Computer Science</option>
                      <option value="4">etc.</option>
                    </select>
                  </div>
                  </li>

                </ul>
                <div class="card-body text-info text-center">
                  <a href="#" class="btn btn-info">Check</a>
                </div>
              </div> 
            </div>
          </div>
        </div>
        <!-- ^^ FULL GRAD ENTRY CARD ^^ -->


      </div>
      <!-- ^div class col -->
      <div class="col-6">
        <!-- green card -->
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
          <div class="card-header" style="padding-bottom: 1.5px;">Requirements Fulfilled</div>
          <ol class="list-group list-group-numbered" style="color: #000000;">
            <li class="list-group-item list-group-item-success">two semesters of English</li>
            <li class="list-group-item list-group-item-success">two semesters of science</li>
            <li class="list-group-item list-group-item-success">two semesters of math</li>
          </ol>   
        </div>
        <!-- ^ green card ^ -->
        <br>
        <!--  red card -->
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
          <div class="card-header" style="padding-bottom: 1.5px;">Requirements Unfulfilled</div>
          <ol class="list-group list-group-numbered" style="color: #000000;">
            <li class="list-group-item list-group-item-danger">5+ academic classes</li>
            <li class="list-group-item list-group-item-danger">language class</li>
          </ol>   
        </div>
        <!-- ^ red card ^ -->
        <br>
        <!-- yellow card -->
        <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-header" style="padding-top: 1.5px;">Graduation Requirements (potentially unfulfilled)</div>
          <ol class="list-group list-group-numbered" style="color: #000000;">
            <li class="list-group-item list-group-item-warning">3+ semesters of arts</li>
            <li class="list-group-item list-group-item-warning">1+ semester of RPE</li>
            <li class="list-group-item list-group-item-warning">6 total semesters of language</li>
            <li class="list-group-item list-group-item-warning">8 total semesters of English</li>
          </ol>   
        </div>
        <!-- ^ yellow card ^ -->
      </div>
      <!-- ^ div class col -->
    </div>
    <!-- ^ div class row -->
    <!-- BOOTSTRAP GRID 2 ^^^  -->    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   -->
</body>

</html>


